parameters:
    parallel:
        maximumNumberOfProcesses: 2
    level: 5
    bootstrapFiles:
        # Brings in the core classmap and, through Composer's `files` autoload,
        # src/autoload/constants.php with the global constants (READ, UPDATE,
        # GLPI_ROOT...). Do not also list constants.php here: requiring it a
        # second time bypasses Composer's guard and Safe\define() throws on the
        # duplicate GLPI_ROOT.
        - '../../../../vendor/autoload.php'
    excludePaths:
        - '**/vendor/*'
        - '**/tests/*'
        - '**/tools/*'
    paths:
        - ..
        - tools/phpstan/rules
    stubFiles:
        - './stubs/glpi_constants.php'
    # Kept in sync with the root phpstan.neon: this config is the fallback used
    # by tools/phpstan.sh, and a rule ignored in one but not the other means the
    # local run and the CI disagree.
    ignoreErrors:
        - '/Property CommonDBTM::\$input \(array\<mixed\>\) does not accept false/'
        - '/(Instantiated class|Class) (GlpiPlugin(\\\w+)+|Plugin\w+) not found/'
        - '/Call to (static )?method \w+\(\) on an unknown class (GlpiPlugin(\\\w+)+|Plugin\w+)/'
        - '/Access to (property \$\w+|constant \w+) on an unknown class (GlpiPlugin(\\\w+)+|Plugin\w+)/'
        - '/PHPDoc tag \@var for variable \$\w+ contains unknown class (GlpiPlugin(\\\w+)+|Plugin\w+)/'
        - '/Static method (GlpiPlugin(\\\w+)+|Plugin\w+).* is unused/'
    reportUnmatchedIgnoredErrors: false
services:
    -
        class: CustomPHPStanRules\HardcodedPasswordRule
        tags: [phpstan.rules.rule]
    -
        class: CustomPHPStanRules\UnsafeFunctionsRule
        tags: [phpstan.rules.rule]
    -
        class: CustomPHPStanRules\InputValidationRule
        tags: [phpstan.rules.rule]
    -
        class: CustomPHPStanRules\SensitiveInfoExposureRule
        tags: [phpstan.rules.rule]
    -
        class: CustomPHPStanRules\SqlInjectionRule
        tags: [phpstan.rules.rule]
    -
        class: CustomPHPStanRules\PermissionControlRule
        tags: [phpstan.rules.rule]
    -
        class: CustomPHPStanRules\UserSessionCheck
        tags: [phpstan.rules.rule]
    -
        class: CustomPHPStanRules\DebugLogsRule
        tags: [phpstan.rules.rule]